.scroll-it {
    max-height: 40rem;
    overflow-y: scroll;
}
li.hoverable:hover {
    background-color: #F0F0F0;
    transition: 0.5s background ease-in-out;
    cursor: pointer;
}
li.chosen-result {
    background-color: #F0F0F0;
}
span.measurement-stat {
    transition: transform 0.3s ease;
    display: inline-block;
    margin: 8px;
}
span.measurement-stat,
span.measurement-stat-range:hover {
    transform: scale(1.10);
    cursor: pointer;
}
div.measurement-stats {
    text-align: center;
}
.underlined {
    text-decoration: underline;
}
.disappearing {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
h3.pointable {
    cursor: pointer;
}
.pointable::after {
    content: '<';
    opacity: 0;
    transition: opacity 1s ease;
}
.pointable:hover::after {
    opacity: 1;
}
.btn-simple {
  border: none;
  background-color: inherit;
  font-size: 30px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
button.btn-simple:hover {
  transform: scale(1.3);
}