.scroll-it {
    max-height: 40rem;
    overflow-y: scroll;
}
li.hoverable:hover {
    background-color: #33ccff;
    transition: 0.5s background ease-in-out;
    cursor: pointer;
}
li.chosen-result {
    background-color: #33ccff;
}
span.measurement-stat {
    transition: transform 0.3s ease;
    display: inline-block;
    margin: 8px;
}
span.measurement-stat:hover {
    transform: scale(1.10);
    cursor: pointer;
}
div.measurement-stats {
    text-align: center;
}