<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html lang="pl">
<div th:include="layout :: div.header"/>


<body>
<div th:include="layout :: div.nav-bar"/>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="card float-end" style="width: 39rem; height: 30rem;">
                <h5 class="card-header">Lista ćwiczeń</h5>
                <div class="card-body">
                    <ul class="scroll-it list-group card-text mx-auto overflow-auto"
                        style="width: 36rem; height: 24rem;">
                        <li class="list-group-item" th:each="exercise : ${exercises}"
                            th:attr="data-exerciseId=${exercise.id}">
                            <form th:method="delete" th:action="@{/exercise/delete/{id}(id=${exercise.id})}">
                                <span th:text="${exercise.name}"/>
                                <button class="btn btn-danger btn-sm float-end">usuń</button>
                            </form>
                        </li>
                        <p th:if="${exercises.empty}" class="text-danger text-center">Brak dostępnych ćwiczeń.</p>
                    </ul>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
        <div class="col-6">
            <div class="card p-3" style="height: 20rem; width: 40rem;">
                <canvas id="myChart"></canvas>
            </div>

            <div class="card mt-2" style="width: 40rem;">
                <div class="card-body p-3">
                    <h5 class="card-title">Nowe ćwiczenie</h5>
                    <p class="card-text">Dodaj nowe ćwiczenie do bazy.</p>
                    <form method="post" th:object="${exercise}">
                        <input th:field="*{name}">
                        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                        <button class="btn btn-primary float-end">DODAJ</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="layout :: div.footer"></div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script th:inline="javascript" src="/js/charts.js">
</script>
</body>
</html>
