<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="/css/style.css" rel="stylesheet">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script defer th:src="@{/js/home.js}"></script>
    <title>GymTracker</title>
</head>

<body>
<div class="container text-center" style="height: 50px;">
    <!--    Potencjalnie miejsce na logo.-->
</div>

<div class="container">
    <div style="height: 400px;">
        <div class="row">
            <div class="col">
                <a style="text-decoration: none; color: inherit;" th:href="@{/add-training}">
                    <h3 class="pointable" id="new-training">Nowy trening</h3>
                </a>
                <a style="text-decoration: none; color: inherit;" th:href="@{/exercise}">
                    <h3 class="pointable" id="exercise-base" th:href="@{/exercise}">Baza ćwiczeń</h3>
                </a>
                <a style="text-decoration: none; color: inherit;" th:href="@{/trainings}">
                    <h3 class="pointable" id="previous-trainings" th:href="@{/trainings}">Treningi</h3>
                </a>
                <a style="text-decoration: none; color: inherit;" th:href="@{/progress}">
                    <h3 class="pointable" id="progress" th:href="@{/progress}">Progres</h3>
                </a>
            </div>
            <div class="col"></div>
            <div class="col-6">
                <div class="disappearing m-6 fs-4 text-start" id="new-training-desc"></div>
                <div class="disappearing m-6 fs-4 text-center" id="exercise-base-desc"></div>
                <div class="disappearing fs-4 text-end" id="previous-trainings-desc"></div>
                <div class="disappearing fs-4 text-center" id="progress-desc"></div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<div th:include="layout :: div.footer"></div>

</body>
</html>