<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html lang="pl">
<div th:include="layout :: div.header"/>

<body>

<div class="container text-center">
    <h1>Gym Tracker</h1>
</div>

<div class="container text-center">
    <div class="row justify-content-center">
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Nowy trening</h5>
                    <p class="card-text">Dodaj swój trening by móc na bieżąco śledzić swoje postępy.</p>
                    <a th:href="@{/add-training}" class="btn btn-primary"> DODAJ </a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Baza ćwiczeń</h5>
                    <p class="card-text">Zarządzaj dostępnymi ćwiczeniami.</p>
                    <a th:href="@{/exercise}" class="btn btn-primary"> DODAJ </a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Treningi</h5>
                    <p class="card-text">Zarządzaj swoimi obecnymi treningami.</p>
                    <a th:href="@{/trainings}" class="btn btn-primary"> PRZJEDŹ DO </a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Progres</h5>
                    <p class="card-text">Kontroluj swoje wyniki.</p>
                    <a th:href="@{/progress}" class="btn btn-primary"> PRZJEDŹ DO </a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div th:include="layout :: div.footer"></div>

</body>
</html>