<!--NAVIGATION BAR-->

<div class="nav-bar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm mb-5" style="padding-left: 20px;">
        <a class="navbar-brand ml-9 pl-9" th:href="@{/}">GymTracker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link ${currentPage == 'exercise' ? 'active' : ''}" th:href="@{/exercise}">Baza
                    ćwiczeń</a>
                <a class="nav-item nav-link ${currentPage == 'add-training' ? 'active' : ''}"
                   th:href="@{/add-training}">Dodaj trening</a>
                <a class="nav-item nav-link ${currentPage == 'trainings' ? 'active' : ''}" th:href="@{/trainings}">Treningi</a>
                <a class="nav-item nav-link ${currentPage == 'progress' ? 'active' : ''}"
                   th:href="@{/progress}">Progres</a>
            </div>
        </div>
    </nav>
</div>

<!-- FOOTER -->

<div class="footer">
    <footer class="border-top py-3 my-4">
        <p class="text-center text-muted">AdrJan 2023</p>
    </footer>
</div>
