<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html lang="pl">
<div th:include="layout :: div.header"/>


<body>
<div th:include="layout :: div.nav-bar"/>

<div class="container">
    <div class="row">
        <div class="col-12 w-25">
            <h5>Zmierz się</h5>
            <form method="post" th:object="${measureForm}">
                <input class="form-control mb-2" th:field="*{leftBiceps}" placeholder="lewy biceps">
                <input class="form-control mb-2" th:field="*{rightBiceps}" placeholder="prawy biceps">
                <input class="form-control mb-2" th:field="*{chest}" placeholder="klatka">
                <input class="form-control mb-2" th:field="*{waist}" placeholder="pas">
                <input class="form-control mb-2" th:field="*{leftThigh}" placeholder="lewe udo">
                <input class="form-control mb-2" th:field="*{rightThigh}" placeholder="prawe udo">
                <input class="form-control mb-2" th:field="*{weight}" placeholder="waga">
                <span th:if="${#fields.hasErrors('leftBiceps')}" th:errors="*{leftBiceps}"></span>
                <span th:if="${#fields.hasErrors('rightBiceps')}" th:errors="*{rightBiceps}"></span>
                <span th:if="${#fields.hasErrors('chest')}" th:errors="*{chest}"></span>
                <span th:if="${#fields.hasErrors('waist')}" th:errors="*{waist}"></span>
                <span th:if="${#fields.hasErrors('leftThigh')}" th:errors="*{leftThigh}"></span>
                <span th:if="${#fields.hasErrors('rightThigh')}" th:errors="*{rightThigh}"></span>
                <span th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}"></span>
                <div>
                    <button class="btn btn-primary btn-lg w-100">Zapisz</button>
                </div>
            </form>
        </div>
        <div class="col-12 w-25">
            <h5>Wyniki: </h5>
            <div class="border rounded p-2">
                <ul class="list-group" style="max-height: 10rem; overflow-y: scroll;">
                    <li th:onclick="'showMeasurement(\'' + ${measurement.key} + '\')'" class="list-group-item"
                        th:each="measurement : ${measurementMap}">
                        <div class="text-center">
                            <span th:text="${measurement.value}"></span>
                        </div>
                    </li>
                </ul>
                <hr/>
                <div style="container">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span><strong>Lewy biceps:</strong></span> <span id="left-biceps-value" class="text-end"></span>
                        </li>
                        <li class="list-group-item">
                            <span><strong>Prawy biceps:</strong> </span> <span id="right-biceps-value"></span>
                        </li>
                        <li class="list-group-item">
                            <span><strong> Klatka:</strong> </span> <span id="chest-value"></span>
                        </li>
                        <li class="list-group-item">
                            <span><strong>Pas:</strong></span> <span id="waist-value"></span>
                        </li>
                        <li class="list-group-item">
                            <span><strong>Lewe udo:</strong> </span> <span id="left-thigh-value"></span>
                        </li>
                        <li class="list-group-item">
                            <span><strong>Prawe udo:</strong>  </span> <span id="right-thigh-value"></span>
                        </li>
                        <li class="list-group-item">
                            <span><strong>Waga:</strong>  </span> <span id="weight-value"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div th:include="layout :: div.footer">
        </div>
    </div>
</div>
<script th:inline="javascript">
    function showMeasurement(measurementId) {
        $.get('/progress/getMeasurement', { id: measurementId})
          .done(function(data) {
            document.getElementById("left-biceps-value").textContent=data.leftBiceps;
            document.getElementById("right-biceps-value").textContent=data.rightBiceps;
            document.getElementById("chest-value").textContent=data.chest;
            document.getElementById("waist-value").textContent=data.waist;
            document.getElementById("left-thigh-value").textContent=data.leftThigh;
            document.getElementById("right-thigh-value").textContent=data.rightThigh;
            document.getElementById("weight-value").textContent=data.weight;
          })
          .fail(function(error) {
            console.error('Błąd:', error);
          });
}
</script>
</body>
</html>
