<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html lang="pl">
<div th:include="layout :: div.header"></div>

<body>

<div th:include="layout :: div.nav-bar"></div>

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h2 th:if="${trainingSession == null}" class="text-center">Wybierz trening.</h2>
            <h2 th:unless="${trainingSession == null}" class="text-center">Ćwiczenia</h2>
            <div th:if="${trainingSession != null}">
                <div th:if="${trainingSession != null}"
                     th:each="exerciseSession : ${trainingSession.exerciseSessionList}">
                    <div class="float-start m-1 border rounded p-3" style="width: 14em; height: 11em;">
                        <h6 th:text="${exerciseSession.exercise.name}"></h6>
                        <div th:each="exerciseSerie : ${exerciseSession.exerciseSerieList}">
                            <div>
                                <span th:text="${exerciseSerie.reps}"></span><span> powt.</span>
                                <span th:text="${exerciseSerie.weight}"></span><span> kg.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 float-end" style="width: 18rem;">
            <h3 class="text-center pb-2">Treningi</h3>
            <div class="list-group" th:each="training: ${trainings}">
                <a class="list-group-item list-group-item-action text-center"
                   th:href="@{/trainings/{id}(id=${training.key.id})}"
                   th:text="${training.value}"/>
            </div>
        </div>
    </div>
</div>

<div th:include="layout :: div.footer"></div>

</body>
</html>